#header{
    background-color: green;
    border-radius: 50% 50% 0 0;
    border: 1px solid gray;
}
#footer{
    background-color: green;
    border: 1px solid gray;
    border-radius: 0 0 50% 50%;
}
#content{
    background-color: green;
    border: 1px solid gray;
}