#wraper{
    margin-left: 100px;
}
#header, #footer{
    height: 150px;
    padding: 50px 200px 10px 100px;
}

#content{
    height: 100px;
    margin: 10px auto;
    padding: 10px;
}

#content div {
    margin: 0px;
    padding: 0px;
    /*width: 800px;*/
}

.btn{
    height: 100px;
    width: 170px;
}

#msg{
    width: 100px;
    height: 50px;
}

.holder{
    float: left;
}

img {
    max-height: 140px;
}